/ebin/*.app
/ebin/*.beam
/tetrapak/.local.cache
/src/tetrapak_ini_*.erl
/dist
*~

/doc/*.html
/doc/*.png
/doc/*.css
/doc/edoc-info

/debian/*
!/debian/rules
!/debian/control
!/debian/changelog
!/debian/install
!/debian/links
!/debian/compat
!/debian/source
