Source: @@name@@
Maintainer: @@maintainer@@
Standards-Version: 3.9.6.1
Priority: @@priority@@
Section: @@section@@
Build-Depends: @@builddeps@@

Package: @@name@@
Architecture: any
Priority: @@priority@@
Section: @@section@@
Depends: @@appdeps@@
Description: @@desc@@
