#!/usr/bin/make -f

build:
	tetrapak build

clean:
	tetrapak clean
	rm -f ./debian/files
	rm -f ../@@name@@_@@version@@_*.deb

binary:
	if [ '@@arch@@' = 'host' ]; then \
	  eval $$(dpkg-architecture); \
	  tetrapak pkg:deb -o 'package.architecture' "$$DEB_HOST_ARCH"; \
	else \
		tetrapak pkg:deb; \
	fi

	for f in dist/@@name@@_@@version@@_*.deb; do \
		mv "$$f" ..; \
		echo "$$(basename $$f) @@section@@ @@priority@@" >> ./debian/files; \
	done
